{% extends "base.html" %}
{% block title %}welcome!{% endblock %}
{% block content %}

    <div class="container p-1">
        <div class="p-5 my-5 card" style="background-color: #9bf6ff">
            <div class="card-body">
                <h2 class="card-title"><strong>android-sushi.tech</strong></h2>
                <p class="card-text">I'm a beginner in programming.</p>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 p-1">
                <div class="card" style="background-color:#fdffb6;">
                    <div class="card-body">
                        <h2 class="card-title">Blogs (Tech)</h2>
                        <p class="card-text p-3">coming soon...</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-1">
                <div class="card" style="background-color:#bdb2ff;">
                    <div class="card-body">
                        <h2 class="card-title">Blogs (Gadgets)</h2>
                        <a class="btn my-1" href="https://www.gadget-seek.com/" role="button"><i
                                class="fas fa-link fa-fw"></i>Gadget Seek</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-1">
                <div class="card" style="background-color:#ffadad;">
                    <div class="card-body">
                        <h2 class="card-title">Apps</h2>
                        <p class="card-text p-3">coming soon...</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-1">
                <div class="card" style="background-color:#caffbf;">
                    <div class="card-body">
                        <h2 class="card-title">Favorites (Website)</h2>
                        <a class="btn my-1" href="https://k-tai.watch.impress.co.jp/" role="button"><i
                                class="fas fa-link fa-fw"></i>K-tai Watch</a>
                        <a class="btn my-1" href="https://www.itmedia.co.jp/mobile/" role="button"><i
                                class="fas fa-link fa-fw"></i>ITmedia Mobile</a>
                        <a class="btn my-1" href="https://ggeek.me/" role="button"><i class="fas fa-link fa-fw"></i>Gadget
                            Geek</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-1">
                <div class="card" style="background-color:#ffc6ff;">
                    <div class="card-body">
                        <h2 class="card-title">Favorites (Game)</h2>
                        <a class="btn my-1" href="http://gunvolt.com/en/" role="button"><i
                                class="fas fa-link fa-fw"></i>Azure Striker GUNVOLT</a>
                        <a class="btn my-1" href="http://gunvolt.com/en/X/" role="button"><i
                                class="fas fa-link fa-fw"></i>Luminous Avenger iX</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-1">
                <div class="card" style="background-color:#ffd6a5;">
                    <div class="card-body">
                        <h2 class="card-title">Socials</h2>
                        <a class="btn my-1" href="https://twitter.com/android_sushi" role="button"><i
                                class="fab fa-twitter-square fa-fw"></i>Twitter</a>
                        <a class="btn my-1" href="https://github.com/android-sushi" role="button"><i
                                class="fab fa-github fa-fw"></i>GitHub</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}